$main_color: #8cff2e;
$text_color: white;
$second_color: #0d0d0d;
$background: #050505;

// Body
body {
  height: 100%;
  overflow: scroll;
  font-family: 'Manrope-Variable', 'Manrope-Regular', sans-serif;
  color: $text_color;
  background-color: $background;
}

// Hero Section
.heroSection {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  height: auto;

  &::selection {
    background-color: #8cff2e1e;
    color: $main_color;
  }
}

// Badge
.hero-badge {
  width: auto;
  padding: 10px;
  margin-top: 10px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $main_color;
  background-color: black;
  border-radius: 10px;
  box-shadow: 1px 1px 3px -1px $main_color;
  font-family: 'Manrope-ExtraLights', 'Manrope-Variable', sans-serif;
  font-weight: 600;
}

// Hero Title
.hero-title {
  color: $text_color;
  font-family: 'Manrope-SemiBold', 'Manrope-Variable', sans-serif;
  font-weight: 500;
  text-align: center;
  font-size: 60px;
  letter-spacing: -1px;
  width: 65%;
}

// Hero Subtitle
.hero-subtitle {
  color: #8e8e8e;
  font-family: 'Manrope-Regular', 'Manrope-Variable', sans-serif;
  text-align: center;
  font-size: 20px;
  width: 50%;
}

// Hero Button
.hero-button {
  background-color: $main_color !important;
  color: black;
  border: #8cff2e;
  font-family: 'Manrope-Medium', 'Manrope-Variable', sans-serif;
  font-weight: 500;
  box-shadow: 1px 1px 60px -10px $main_color;
  padding: 15px;
  width: 220px;
  display: flex;
  align-items: center;

  .arrow-box {
    position: relative;
    width: 18px;
    height: 18px;
    overflow: hidden;
    margin-left: 10px;

    .arrow {
      position: absolute;
      top: 0;
      left: 0;
      transition:
        transform 0.45s cubic-bezier(0.65, 0, 0.35, 1),
        opacity 0.3s ease;
    }

    .first {
      transform: translate(0, 0);
      opacity: 1;
    }
    .second {
      transform: translate(-12px, 12px);
      opacity: 0;
    }
  }

  &:hover {
    color: $background !important;

    .first {
      transform: translate(12px, -12px);
      opacity: 0;
    }
    .second {
      transform: translate(0, 0);
      opacity: 1;
    }
  }
}

// Hero Image
.hero-image {
  position: relative;
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: start;
  margin: 50px 0;
  border-radius: 20px;

  .image {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-image:
      linear-gradient(to bottom, rgba(56, 202, 235, 0) 10%, rgba(0, 0, 0, 1) 100%),
      url('../assets/images/dashboard.avif');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

// Responsive: Mobile & Tablet
@media (max-width: 991.98px) {
  .heroSection {
    min-height: 100dvh;
    justify-content: center;
    align-items: center;
  }
  .hero-badge {
    margin-top: 10px;
    font-family: 'Manrope-Regular', 'Manrope-Variable', sans-serif;
  }
  .hero-title {
    font-family: 'Manrope-Regular', 'Manrope-Variable', sans-serif;
    font-weight: 500;
    font-size: 40px;
    width: 100% !important;
  }
  .hero-subtitle {
    width: 100% !important;
    font-family: 'Manrope-Regular', 'Manrope-Variable', sans-serif;
  }
  .hero-image {
    width: 90vw;
    height: 400px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .hero-title {
    font-size: 50px;
  }
  .hero-badge {
    margin-top: 15%;
  }
}
