$main_color: #8cff2e;
$text_color: white;
$second_color: #111010bb;
$background: #050505;

.howItWorks {
  width: 100%;
  padding: 40px;
  margin-top: 40px;
  color: $text_color;
  display: flex;
  flex-direction: column;
}

/* VIDEO BUTTON */
.video {
  display: flex;
  align-items: center;
  gap: 10px;
}

.play {
  color: $main_color;
  font-size: 25px;
  font-family: 'Manrope-Regular', 'Manrope-Variable', sans-serif;
  font-weight: 400;

  &:hover {
    transform: scale(1.1);
    transition: 0.2s ease;
  }
}

/* TITLE */
.how-title {
  font-size: 50px;
  font-family: 'Manrope-Regular', 'Manrope-Variable', sans-serif;
  font-weight: 200;
  margin-bottom: 20px;
}

/* STEPS CONTAINER */
.steps {
  width: 100%;
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
  justify-content: center;
  font-family: 'Manrope-ExtraLight', 'Manrope-Variable', sans-serif;
  font-weight: 200;
}

/* CARD */
.card {
  flex: 1 1 320px;
  max-width: 380px;
  background: $second_color;
  border-radius: 24px;
  padding: 15px;
  color: white;
  transition: 0.3s ease;
  font-family: 'Manrope-Regular', 'Manrope-Variable', sans-serif;
  font-weight: 400;

  &:hover {
    transform: translateY(-6px);
  }

  .card-img-wrapper {
    position: relative;
    border-radius: 20px;
    overflow: hidden;

    .card-img-top {
      width: 100%;
      aspect-ratio: 13 / 9;
      object-fit: cover;
      display: block;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 60%;
      background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.7) 60%,
        rgba(0, 0, 0, 1) 100%
      );
    }
  }

  .card-text {
    color: #8e8e8e;
    font-family: 'Manrope-Regular', 'Manrope-Variable', sans-serif;
    font-weight: 400;
  }
}

/* BADGE */
.card-badge {
  width: fit-content;
  height: 30px;
  padding: 7px 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $main_color;
  background-color: black;
  border-radius: 10px;
  box-shadow: 1px 1px 3px -1px $main_color;
  margin: 20px 0 15px 0;
  font-family: 'Manrope-Regular', 'Manrope-Variable', sans-serif;
  font-weight: 400;
}

/* ========================= */
/* 📱 MOBILE */
@media (max-width: 768px) {
  .howItWorks {
    align-items: center;
  }

  .how-title {
    font-size: 32px;
    text-align: center;
  }

  .steps {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 100%;
  }

  .card-img-top {
    aspect-ratio: 4 / 3;
  }

  .play {
    font-size: 32px;
  }
}

/* ========================= */
/* 💻 TABLET */
@media (min-width: 769px) and (max-width: 1024px) {
  .steps {
    justify-content: center;
  }

  .card {
    flex: 1 1 45%;
    max-width: 450px;
  }

  .how-title {
    font-size: 42px;
  }
}
