@import '../Styles/App.scss';
.login {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000;

  &__box {
    width: 100%;
    max-width: 420px;
  }

  &__header {
    text-align: center;
    margin-bottom: 40px;

    h1 {
      font-size: 36px;
      color: white;
      font-weight: 600;
      margin: 15px 0 10px;
      font-family: 'Manrope-SemiBold', 'Manrope-Variable', sans-serif;
    }

    p {
      color: $text_color;
      font-size: 15px;
      font-family: 'Manrope-Regular', 'Manrope-Variable', sans-serif;
    }
  }

  &__badge {
    display: inline-block;
    padding: 6px 16px;
    border-radius: 999px;
    font-size: 13px;
    color: $main_color;
    font-family: 'Manrope-Medium', 'Manrope-Variable', sans-serif;

    border: 1px solid rgba(163, 255, 0, 0.4);
    background: rgba(163, 255, 0, 0.1);
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 22px;
    font-family: 'Manrope-Regular', 'Manrope-Variable', sans-serif;
  }

  &__field {
    display: flex;
    flex-direction: column;

    label {
      margin-bottom: 6px;
      font-size: 14px;
      color: white;
    }

    input {
      height: 48px;
      border-radius: 10px;
      padding: 0 14px;

      background: #111;
      border: 1px solid #222;
      color: white;

      &:focus {
        border-color: #333;
        outline: none;
      }
    }
  }

  &__input {
    position: relative;

    input {
      width: 100%;
      padding-right: 40px;
    }

    button {
      position: absolute;
      right: 12px;
      top: 50%;
      transform: translateY(-50%);
      background: none;
      border: none;
      color: #888;
      cursor: pointer;
    }
  }

  &__options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;

    a {
      color: #a3ff00;
      text-decoration: none;
    }
  }

  &__remember {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #9ca3af;

    input {
      accent-color: $main_color;
    }
  }

  &__submit {
    height: 50px;
    border-radius: 10px;
    border: none;
    font-family: 'Manrope-Medium', 'Manrope-Variable', sans-serif;
    text-decoration: none;
    background: $main_color;
    color: black;
    font-weight: 600;
    font-size: 15px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;

    cursor: pointer;

    box-shadow: 0 0 25px rgba(163, 255, 0, 0.4);

    &:hover {
      background: #b4ff20;
    }
  }

  &__divider {
    position: relative;
    text-align: center;

    span {
      padding: 0 12px;
      color: $text_color;
      background: #000;
      font-size: 14px;
    }

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      height: 1px;
      background: #222;
      z-index: -1;
    }
  }

  &__social {
    display: flex;
    gap: 12px;
  }

  &__social-btn {
    flex: 1;
    height: 48px;
    border-radius: 10px;

    border: 1px solid #222;
    background: #111;
    color: white;
    font-family: 'Manrope-Medium', 'Manrope-Variable', sans-serif;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    cursor: pointer;

    img,
    svg {
      width: 18px;
      height: 18px;
    }

    &:hover {
      background: #181818;
    }
  }

  &__footer {
    text-align: center;
    font-size: 14px;
    color: $text_color;

    span {
      color: $main_color;
      cursor: pointer;
    }
    @media (max-width: 768px) {
      margin-bottom: 40px;
    }
  }
}
