$main_color: #8cff2e;
$text_color: white;
$second_color: #111010bb;
$background: #050505;

.why {
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.title-badge {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $main_color;
  margin-top: 15%;
  margin-bottom: 20px;
  font-family: 'Manrope-Regular', 'Manrope-Variable', sans-serif;
  font-weight: 400;
}

.title-why {
  font-size: 50px;
  font-family: 'Manrope-Regular', 'Manrope-Variable', sans-serif;
  font-weight: 200;
  margin-bottom: 20px;
  color: white;
  width: 70%;
  text-align: center;
}

.comparison {
  height: 350px;
  width: auto !important;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  background-color: $second_color;
  border-radius: 36px;
  gap: 15px;
  padding: 22px;
  color: white;
  margin: 20px 0 80px 0;

  .other-tools {
    width: auto;
    height: 100%;
    background-color: $second_color;
    border-radius: 4%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 15px;

    span {
      color: #8e8e8e;
      font-family: 'Manrope-Regular', 'Manrope-Variable', sans-serif;
      font-weight: 400;
    }

    h4 {
      font-family: 'Manrope-Regular', 'Manrope-Variable', sans-serif;
      font-weight: 400;
    }
  }

  .clario {
    width: auto;
    height: 110%;
    background-color: black;
    border-radius: 36px;
    box-shadow: 1px 1px 5px -1px $main_color;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    padding: 30px;

    .logo-compare {
      font-size: 30px;
    }

    span {
      color: #8e8e8e;
      font-family: 'Manrope-Regular', 'Manrope-Variable', sans-serif;
      font-weight: 400;
    }

    h4 {
      font-family: 'Manrope-SemiBold', 'Manrope-Variable', sans-serif;
      font-weight: 400;
    }
  }
}

// Mobile screen
@media (max-width: 991.98px) {
  .why {
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    gap: 10px;
  }

  .title-badge {
    width: fit-content;
    height: 30px;
    padding: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $main_color;
    background-color: black;
    border-radius: 10px;
    box-shadow: 1px 1px 3px -1px $main_color;
    margin-top: 15%;
    margin-bottom: 20px;
    font-family: 'Manrope-Regular', 'Manrope-Variable', sans-serif;
    font-weight: 400;
  }

  .title-why {
    font-size: 35px;
    font-family: 'Manrope-Regular', 'Manrope-Variable', sans-serif;
    font-weight: 200;
    margin-bottom: 20px;
    color: white;
    width: 100%;
    text-align: center;
  }

  .comparison {
    height: auto;
    width: 90%;
    flex-wrap: wrap;
    border-radius: 56px;
    gap: 20px;

    .other-tools {
      width: 100%;
      height: auto;
      border-radius: 16px;
      padding: 12px;
      gap: 15px;

      span,
      h4 {
        font-family: 'Manrope-Regular', 'Manrope-Variable', sans-serif;
        font-weight: 400;
      }
    }

    .clario {
      width: 100%;
      height: auto;
      border-radius: 16px;
      padding: 20px;

      span,
      h4 {
        font-family: 'Manrope-Regular', 'Manrope-Variable', sans-serif;
        font-weight: 400;
      }
    }
  }
}
